*{
  box-sizing: border-box;
}
body{
  background-color: rgb(122, 128, 126);
}
header{
  /* text-align: center; */
  padding: 20px;
  background-color: #fff;
}
header h2{
  text-align: center;
  /* font-size: 20px; */
  font-size: 30px;
  margin: 5px;
}

nav{
  background-color: #312e2e;
  color: #fff;
  padding: 5px;

}

header nav ul li{
  display: inline-block;
  margin: 15px;
  /* position: absolute; */

}

header nav ul li:last-child{
  float: right;
}
main{
  /* background-color: #706f6f; */
  padding: 5px;
}

main section:first-child{
  padding:5px;
  float: left;
  width: 55%;
  margin: 5px; 
  /* background-color: #312e2e; */
  border: #fff solid 2px;

  
}
main section:nth-child(2){
  padding:10px;
  float: right;
  width: 35%;
  margin: 5px;
  /* background-color: ; */
  border: #fff solid 2px;
}

section article{
  width: 100%;
  margin:5px;
  background-color: rgb(246, 246, 246);
  padding:5px;
}
section aside{
  width: 100%;
  margin: 5px;
  padding:5px;
  background-color: rgb(246, 246, 246);

}
img{
  width: 100%;
}
aside article img{
  width: 75%;
}
footer{
  text-align: center;
  clear: both;
}

p{
  font-size: 10px;
}