body {
  font-family: 'Hanalei', cursive;
}
h2 {
  font-family: 'Stalinist One', cursive;
  text-align: center;
  color: blue;
}
ul {
  margin-left: 20px;
  list-style: disc;
  color: cornflowerblue;
}
