* {
  box-sizing: border-box;
}
header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.row :first-child {
  background-color: #aaa;
  width: 25%;
}
.row :nth-child(2) {
  background-color: #bbb;
  width: 50%;
}
.row :nth-child(3) {
  background-color: #ccc;
  width: 25%;
}
.column {
  float: left;
  min-height: 85vh;
  padding: 20px;
  /* width: 33.33%; */
}

footer {
  background-color: #f1f1f1;
  clear: both;
  padding: 15px;
  text-align: center;
}
