* {
  box-sizing: border-box;
}

:root {
  --primary-color: #9c3089;
  --secondary-color: #f5f5f5;
}
header {
  background-color: var(--primary-color);
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
}

header h1 {
  color: var(--secondary-color);
  float: left;
  font-weight: bold;
  font-size: x-large;
}

header nav {
  float: right;
  padding: 0 30px;
}

header nav ul li {
  display: inline-block;
  padding: 0 10px;
  font-size: 15px;
}

header nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  text-transform: uppercase;
}

#hero {
  margin-top: 55px;
  background: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
#hero h2 {
  text-align: center;
  color: #f7a4e9;
  line-height: 450px;
  vertical-align: middle;
  font-size: xx-large;
}

#program h2 {
  align-items: center;
  font-weight: bold;
  margin: 20px;
  color: var(--primary-color);
}

#program p {
  line-height: 1.4;
  padding: 0 40px;
}
#program p a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 800;
}
#program p a:hover {
  text-decoration: underline;
}

#courses {
  margin: 0 auto;
  width: 90%;
}

.course-item {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 10px;
  float: left;
  width: 19%;
  height: 80px;
  margin-right: 9px;
  margin-top: 20px;
}
.course-item h3 {
  padding-top: 20px;
  line-height: 1.2;
  text-align: center;
}
footer {
  clear: both;
  text-align: center;
  padding: 20px;
  color: var(--primary-color);
}
